.slideshow {
    overflow: hidden;
    padding-left: 10vW;
    transition: 1.5s;
}

.galerie {
    position: relative;
}

.object {
    min-width: 60vW;
    padding: 1rem;
}

.slides {
    transition: 3s;
    display: flex;
    flex-direction: row;
}

.slide1 {
    transform: none;


}

.Image {
    position: relative;
    object-fit: contain;
    width: 36rem;
    height: 24rem;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.choosen {
    background-color: #56654B;
}

.button {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}

.slide2 {
    transform: translateX(-60vW);



}

.slide3 {
    transform: translateX(-120vW);

}

.slide4 {
    transform: translateX(-180vW);

}

.buttonRight {
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 10%;
    width: 2rem;
    height: 80%;
    border-radius: 2rem;
}

.title {
    text-align: center;
}

.buttonLeft {
    z-index: 1;
    position: absolute;
    left: 10px;
    top: 10%;
    width: 2rem;
    height: 80%;
    border-radius: 2rem;
}

@media screen and (max-width: 1000px) {
    .Image {
        width: 24rem;
        height: 16rem;
    }
}

@media screen and (max-width: 666px) {
    .slideshow {
        padding-left: 5vW;
    }

    .buttonLeft {
        width: 1.5rem;
    }

    .buttonRight {
        width: 1.5rem;
    }

    .Image {
        width: 18rem;
        height: 14rem;
    }
}

@media screen and (max-width: 590px) {

    .Image {
        width: 16rem;
        height: 12rem;
    }
}

@media screen and (max-width: 500px) {

    .Image {
        width: 14rem;
        height: 10rem;
    }
}

@media screen and (max-width: 400px) {
    .slideshow {
        padding-left: 3vW;
    }

    .Image {
        width: 10rem;
        height: 6rem;
    }
}