html,
body {
  padding: 0;
  margin: 0;
  font-family: ligurino, sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: aliceblue;
    background: black;
  }
}

img {
  width: 100%;
  min-width: 2rem;
  max-width: 400rem;
}

p {
  color: black;
}

h2 {
  color: black;
}

article {
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #C9C9C9;
}